/* universal box-sizing w/ inheritance */
html {
box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit
}

/* Canvas */
#canvas {
  height: 6000px;
}

/* Top Header div */
.TopHeader {
  height: 90px;
  width: 650px;
  display: flex;
  justify-content: center;
  position: relative;
  left: 250px;
}

#etsy {
  color: #f45800;
  font-family: "Courier New", Helvetica, Arial, sans-serif;
}

#search-input {
  height: 30px;
}

#search-input {
  height: 34px;
  width: 384px;
  position: relative;
  top: 20px;
  margin-left: 25px;
}

#search-button {
  height: 34px;
  width: 79px;
  position: relative;
  top: 20px;
  background-color: black;
  color: white;
  font: "Droid Sans";
  font-weight: bold;
}

/* sub top header right */
.TopHeader-Right {
  height: 80px;
  width: 367px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 1010px;
}

#sell {
  height: 34px;
  width: 94px;
}

#register {
  height: 34px;
  width: 73px;
  margin-left: 7px;
}

#discover {
  height: 67px;
  width: 80px;
  margin-left: 15px;
  position: relative;
  left: 4px;
  top: 5px;
}

#discover-text {
  position: absolute;
  top: 15px;
  left: -10px;
}

#cart {
  height: 42px;
  width: 80px;
  position: relative;
  left: -5px;
  top: -7px;
}

#cart-text {
  position: absolute;
  top: 15px;
  left: 8px;
}

#sign-in {
  height: 34px;
  width: 64px;
  margin-left: 7px;
  margin-bottom: 15px;
  border: 1px solid black;
  background-color: white;
}

/* sub header div */

.SubHeader {
  height: 38px;
  width: 1364px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 305px;
  top: 0px;
}

/* top button div */

.TopButtons {
  height: 40px;
  width: 1500px;
  display: inline-block;
  position: relative;
  left: 300px;
  top: 23px;
  border-radius: 3px;
  box-shadow: none;




}

/* top buttons */

#decnter {
  height: 38px;
  width: 143px;
  margin-right: 1px;
  background-color: #ffac62;


}

#glasses {
  height: 38px;
  width: 132px;
  margin-right: 1px;
  background-color: #ffac62;
}

#barrel {
  height: 38px;
  width: 122px;
  margin-right: 1px;
  background-color: #ffac62;
}

#stones {
  height: 38px;
  width: 127px;
  margin-right: 1px;
  background-color: #ffac62;
}

#shirt {
  height: 38px;
  width: 112px;
  margin-right: 1px;
  background-color: #ffac62;
}

#whiskey {
  height: 38px;
  width: 71px;
  margin-right: 1px;
  background-color: #ffac62;
}

#scotch {
  height: 38px;
  width: 71px;
  margin-right: 1px;
  background-color: #ffac62;
}

#dispenser {
  height: 38px;
  width: 148px;
  margin-right: 1px;
  background-color: #ffac62;
}

#bourbon {
  height: 38px;
  width: 83px;
  margin-right: 1px;
  background-color: #fecf84;


}

#beer {
  height: 38px;
  width: 56px;
  margin-right: 1px;
  background-color: #fecf84;


}

.Window {
  height: 5580px;
  width: 1500px;
  position: relative;
  left: 200px;
  top: 45px;
}



/* sidebar div */
#sidebar {
  height: 1778px;
  width: 232px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1px;
  left: 100px;
  float: left;
  font-size: 14px;
}
/* sidebar sub-elements */

.special-offers {
  display: flex;
  flex-direction: column;
  background-color: #fbead8;
  padding: 5px;
}

.categories {
  display: block;
  flex-direction: column;

}

.shipping {
  display: flex;
  flex-direction: column;

}

.material {
  display: flex;
  flex-direction: column;
}

.color {
  display: flex;
  flex-direction: column;
}

.personalized {
  display: flex;
  flex-direction: column;
}

.holiday {
  display: flex;
  flex-direction: column;
}

.shop-radios {
  display: flex;
  flex-direction: column;
}

.shop-input {
  display: inline;
  flex-direction: column;
}

#foo {
  height: 38px;
  width: 140px;
}

#bar {
  height: 38px;
  width: 36px;
}

.item-type {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  flex-direction: column;
}

.price-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#foo2 {
  height: 38px;
  width: 58px;
}

#foo3 {
  height: 38px;
  width: 58px;
}

#bar2 {
  height: 38px;
  width: 38px;
}

.ordering-options {
  display: flex;
  flex-direction: column;
}

.ship-to {
  display: flex;
  flex-direction: column;
}

/* json data div */

.json {
  height: 5631px;
  width: 1100px;
  position: absolute;
  left: 360px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.products {
  height: 305px;
  width: 269px;
  margin: 10px 0;
}
